In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
x = [ 1,2,3,4,5,6,7,8,9,10,7,8,9,5,6,33,22,1]
x.append(155)

In [11]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 8, 9, 5, 6, 33, 22, 1, 155]

In [12]:
y = x
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 8, 9, 5, 6, 33, 22, 1, 155]

In [5]:
x.clear()

In [13]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 8, 9, 5, 6, 33, 22, 1, 155]

In [16]:
z= x.copy()
z

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 8, 9, 5, 6, 33, 22, 1, 155]

In [24]:
z.count(1)

2

In [29]:
z.extend('qwerty')

In [30]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 7,
 8,
 9,
 5,
 6,
 33,
 22,
 1,
 155,
 'q',
 'q',
 'w',
 'e',
 'r',
 't',
 'y']

In [31]:
z.index(1) #first occurence

0

In [32]:
z.insert(0,1) #location , value

In [33]:
z

[1,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 7,
 8,
 9,
 5,
 6,
 33,
 22,
 1,
 155,
 'q',
 'q',
 'w',
 'e',
 'r',
 't',
 'y']

In [34]:
z.pop()

'y'

In [35]:
z

[1,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 7,
 8,
 9,
 5,
 6,
 33,
 22,
 1,
 155,
 'q',
 'q',
 'w',
 'e',
 'r',
 't']

In [39]:
z.remove(4) #remove first occurence

In [40]:
z

[1,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 7,
 8,
 9,
 5,
 6,
 33,
 22,
 1,
 155,
 'q',
 'q',
 'w',
 'e',
 'r',
 't']

In [41]:
z.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [42]:
z1 = [3,2,1]
z1.sort()

In [43]:
z1

[1, 2, 3]

In [44]:
z1.reverse()

In [45]:
z1

[3, 2, 1]